<div class="videoslidebg">
  <div class="container" >
    
    <div class="video-slide-content videoitem">
       <div class="videoslide-inner-conten">
         <div class="video-wrapper">
            <iframe src="{{section.settings.videos}}" allowfullscreen="" allow="autoplay" frameborder="0"></iframe>
        </div> 
       </div>
       <div class="video_content">
        <p class="videodes">{{section.settings.Videodes}}</p>
        <p class="videotext">{{section.settings.videotext}}</p>
        <p class="videomain"><span>{{section.settings.Videocontent}}</span></p>
        <p class="videomain"><span>{{section.settings.Videocontent1}}</span></p>
    </div>
    </div>
  </div>
</div>

{% schema %}
{
"name": "video-slider",

"settings": [
{
        "type": "range",
       "id": "container",
       "label": "container",
       "default": 1150,
       "min": 1000,
       "max": 1800,
       "step": 50

      },
    {
            "type": "text",
            "id": "videos",
            "label": "Video URL",
            "default": "video url"
          },
          {
            "id" : "Videodes",
            "type" : "text",
            "label" : "Video Description"
        },
        {
            "id" : "videotext",
            "type" : "text",
            "label" : "Video Description"
        },
        {
            "id" : "Videocontent",
            "type" : "text",
            "label" : "Text"
        },
        {
            "id" : "Videocontent1",
            "type" : "text",
            "label" : "Text"
        }

],

"presets" : [
{
  "name" : "video-slider",
  "category" : "video-slider"

  }
]
}
{% endschema %}

