<section class="photo-album-banner l4ft fullwidth" {% if section.settings.image != blank %}style="background-image:url('{{ section.settings.image | img_url: "master"  }}')"{% endif %}}>
    <div class="container">
      <div class="photo-album-content">
        {% if section.settings.heading != blank %}<h1>{{section.settings.heading }}</h1>{% endif %}
        {% if section.settings.html != blank %}{{ section.settings.html }}{% endif %}
        <div class="photo-btn-wrap">
          {% if section.settings.button_url_1 != blank %}<a href="{{section.settings.button_url_1 }}">{{section.settings.button_1 }}</a>{% endif %}
          {% if section.settings.button_url_2 != blank %}<a href="{{ section.settings.button_url_2 }}">{{ section.settings.button_2 }}</a>{% endif %}
        </div>
      </div>
    </div>
  </section>
  
{% schema %}
  {
    "name": "photo album banner",
    "settings": [
		  {
			"type": "image_picker",
			 "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "html",
            "id": "html",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "button_1",
            "label": "First Button"
          },
          {
            "type": "url",
            "id": "button_url_1",
            "label": "First Button Link"
          },
          {
            "type": "text",
            "id": "button_2",
            "label": "Second Button"
          },
          {
            "type": "url",
            "id": "button_url_2",
            "label": "Second Button Link"
          }
    ],
    "presets": [
    {
      "name": "Photo Album Banner",
      "category": "Content",
      "settings": {
      },
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}