{%- assign heading = section.settings.heading -%}{%- assign sub_heading = section.settings.sub_heading -%}
{%- assign content = section.settings.content -%}{%- assign image_1 = section.settings.image_1 -%}
{%- assign image_2 = section.settings.image_2 -%}{%- assign image_link_2 = section.settings.image_link_2 -%}
{%- assign image_3 = section.settings.image_3 -%}{%- assign image_link_3 = section.settings.image_link_3 -%}
 <section class="photo-main-sec">
    <div class="container">
      <div class="photo-main-wrap">
      <div class="photo-left-cont">
      {% for block in section.blocks %}
      {%- assign highlight = block.settings.highlight -%}{%- assign title = block.settings.last_title -%}
      {%- assign collection_limit = block.settings.collection_limit -%}
      {%- assign collection = collections[block.settings.title] -%}
        {% if collection != blank %}
          <div class="photo-title-wrap"><h1>{% if highlight != blank %}<span>{{ highlight }}</span> {% endif %}{{ title }}</h1></div>
          <div class="album-collection" data-col="{{ collection }}">{% include "photo_album_collection", collection:collection, limit:collection_limit %}</div>
        {% endif %}
      {% endfor %}
      </div>
      <div class="photo-right-cont">
        <div class="photo-sidebar-wrap">
          {% if heading != blank %}<div class="sidebar-head"><h2>{{ heading }}</h2></div>{% endif %}
          <div class="sidebar-body">
            {% if sub_heading != blank %}{{ sub_heading }}{% endif %}
            {% if image_1 != blank %}<img class="img-fuji" src="{{ image_1 | img_url: "master"  }}" />{% endif %}
            {% if content != blank %}{{ content }}{% endif %}
            <div class="img-link">
              {% if image_link_2 != blank %}<a target="_blank" href="{{ image_link_2 }}">{% endif %}
                {% if image_2 != blank %}<img class="img-fuji" src="{{ image_2 | img_url: "master"  }}" />{% endif %}
              {% if image_link_2 != blank %}</a>{% endif %}
            </div>
            <div class="bt-img-link">
              {% if image_link_3 != blank %}<a target="_blank" href="{{ image_link_3 }}">{% endif %}
              {% if image_3 != blank %}<img class="img-fuji" src="{{ image_3 | img_url: "master"  }}" />{% endif %}
              {% if image_link_3 != blank %}</a>{% endif %}
              
              <div class="download-wrap">
                <a href="#">
                  <img src="https://cdn.shopify.com/s/files/1/0099/8693/2814/t/22/assets/google-play.png?v=1673351627" alt="download-img" />
                </a>
                <a href="#">
                  <img src="https://cdn.shopify.com/s/files/1/0099/8693/2814/t/22/assets/app-store.png?v=1673351620" alt="download-img" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
{% schema %}
  {
    "name": "Photo Album Section",
    "settings": [
        {
          "type": "header",
          "content": "Sidebar Content"
        },
        {
           "type": "text",
           "id": "heading",
          "label": "Heading"
        },
        {
           "type": "image_picker",
           "id": "image_1",
          "label": "Image"
        },
        {
           "type": "html",
           "id": "sub_heading",
          "label": "Sub Heading"
        },
        {
           "type": "html",
           "id": "content",
          "label": "Content"
        },
        {
           "type": "image_picker",
           "id": "image_2",
          "label": "Image"
        },
        {
           "type": "url",
           "id": "image_link_2",
          "label": "Image Link"
        },
        {
           "type": "image_picker",
           "id": "image_3",
          "label": "Image"
        },
        {
           "type": "url",
           "id": "image_link_3",
          "label": "Image Link"
        }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
            {
              "type": "text",
              "id": "highlight",
              "label": "Highlight Title"
        	},          
            {
              "type": "text",
              "id": "last_title",
              "label": "Title"
        	},
            {
              "type": "range",
              "id": "collection_limit",
              "min": 3,
              "max": 21,
              "step": 1,
              "label": "Product Limit",
              "default": 9
            },          
            {
              "type": "collection",
              "id": "title",
              "label": "Collection"
        	}
        ]
      }
    ],
    "presets": [
      {
        "name": "Photo Album Section",
        "category": "Content",
        "settings": {
        },
        "blocks": [
        ]
      }
    ]
  }
{% endschema %}
